/* fonte importada do google fonts */
@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@400;600&display=swap');

:root {
    /* variáveis do css */
    --primary-bg-color: #000000;
    --secondary-color: #f6f6f6;
    --tertiary-color: #BF622C;
    --button-hover-color: #272727;

    --primary-font: 'Krona One', sans-serif;
    --secondary-font: 'Montserrat', sans-serif;
}

* {
    margin: 0;
    padding: 0;
}

body {
    /* height: 100vh; 100% da viewport */
    box-sizing: border-box; /* elementos se adequam para caber na box mesmo utilizando border e padding  */
    background-color: var(--primary-bg-color);
    color: var(--secondary-color)
}

header {
    padding: 2% 0 0 20%;
}

.menu {
    display: flex;
    gap: 80px;
}

.menu__links {
    font-family: var(--secondary-font);
    font-weight: 600;
    font-size: 24px;
    color: var(--tertiary-color);
    text-decoration: none;
}

#presentation {
    padding: 2% 20%;
    display: flex; /* flexbox */
    align-items: center;
    justify-content: center;
}

.content {
    width: 615px;
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.content__tittle {
    font-family: var(--primary-font);
    font-size: 36px;
}

.content__text {
    font-family: var(--secondary-font);
    font-size: 24px;
}

.text-highlight {
    color: var(--tertiary-color);
}

.content__links {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 20px; /* cria um gap entre todos os elementos dentro da flexbox */
}

.content__links__subtittle {
    font-family: var(--primary-font);
    font-weight: 400;
    font-size: 24px;
}

.content__links__button {
    display: flex;
    justify-content: center;
    gap: 16px;
    border: 4px solid var(--tertiary-color);
    color: var(--secondary-color);
    font-family: var(--secondary-font);
    font-size: 24px;
    font-weight: 600;
    text-decoration: none;
    width: 378px;
    text-align: center;
    border-radius: 8px;
    padding: 21.5px 0;

}

.content__links__button:hover {
    background-color: var(--button-hover-color);
}

.image {
    transition: opacity 0.3s ease-in-out;
}

.image:hover {
    opacity: 0.6;
}

#mail {
    display: flex;
    justify-content: center;
}

.mail__send {
    font-family: 'Krona One', sans-serif;
    font-weight: 400;
    font-size: 18px;
    text-decoration: none;
    color: #000000;

}

footer {
    background-color: var(--tertiary-color);
    padding: 16px;
    height: auto;
}

.mail__send:hover {
    color: var(--primary-bg-color);
    font-style: italic;
    text-decoration: underline;
}

#city {
    color: var(--primary-bg-color);
    text-align: center;
    font-family: var(--secondary-font);
}